[Desktop Entry]
Categories=Game
Comment=A 3D city simulator
Comment[fr]=Jeu de simulation de Ville en OpenGL
Encoding=UTF-8
Exec=opencity
GenericName=City simulator
GenericName[fr]=Simulateur de ville
Icon=OpenCity
Name=OpenCity
Name[fr]=OpenCity
Terminal=false
Type=Application